<h1>Konti</h1>
<div *ngIf="accounts">
    <table mat-table [dataSource]="accounts" class="mat-elevation-z8">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Kontonummer</th>
            <td mat-cell *matCellDef="let account">{{ account.number }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Kontonavn</th>
            <td mat-cell *matCellDef="let account">{{ account.name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Konto balance</th>
            <td mat-cell
                *matCellDef="let account"
                [ngStyle]="{'color': account.balance <= 0 ? 'green' : 'red'}">
                {{ account.balance }}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="goToAccountTransactions(row.id)"></tr>
    </table>
</div>

<app-error-card *ngIf="error" [error]="error"></app-error-card>